:root {
    /* Color palettes to be generated/named using www.coolors.co */

    /* Colors Nature */
    --green1: #143601;
    --green2: #1A4301;
    --green3: #245501;
    --green4: #538D22;
    --green5: #73A942;
    --green6: #AAD576;

    /* Colors Grayscale */
    --white: #FFFFFF;
    --silver: #BFBFBF;
    --gray: #808080;
    --gunmetal: #404040;
    --black: #000000;

    /* Stylings*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Start of Main*/

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex: 1;
}

section{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

article p{
    max-width: 60ch;
}

header,
footer {
    background-color: var(--green4);
    color: var(--green1);
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

footer p {
    margin-left: 4vw;
    margin-bottom: 2vh;
    max-width: 40ch;
}

/* Navigation */

header nav {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    display: inline;
    padding-inline: 1em;
}

/* Links */
a {
    color: var(--silver);
}

a:visited {
    color: var(--gunmetal);
}.event-card {
    background-color: var(--green6);
    border-left: 5px solid var(--green4);
    padding: 1.5em;
    margin: 1em 0;
    border-radius: 5px;
}