:root {
    /* Color palettes to be generated/named using www.coolors.co */

    /* Colors Nature */
    --green1: #143601;
    --green2: #1A4301;
    --green3: #245501;
    --green4: #538D22;
    --green5: #73A942;
    --green6: #AAD576;

    /* Colors Grayscale */
    --white: #FFFFFF;
    --silver: #BFBFBF;
    --gray: #808080;
    --gunmetal: #404040;
    --black: #000000;

    /* Stylings*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.tips-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: 1rem 2rem 2rem;
}

.tips-card {
    --green-box: rgba(170, 213, 118, 0.8);
    background: linear-gradient(var(--white) 40%, var(--green-box));
    font-weight: bold;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    padding: 1.5rem;
    line-height: 1.65;
    color: var(--black)
}

img {
    margin-bottom: 20%;
    max-width: 220px;
    max-height: fit-content;
    align-content: center;
}